* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* main container */
.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* tier 1 */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #007575;
    width: 290px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
    color: #e4e4e4;
    margin-top: 15px;
    margin-bottom: 70px;
    margin-left: -5px;
} 

.top_title {
    margin-left: -5px;
}

/* tier 2 */

li {
    color: #e4e4e4;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    margin-left: 20px;
    padding-right: 20px;
}

li:hover {
    color: #ffffff;
    background-color: #008b8b;
}

.list, li, span{
    display: flex;
    align-items: center;
    margin: 0;
}


.ramon {
    margin-bottom: 30px;
}

.doc {
    margin-right: 5px;
}

.icon {
    margin-left: 10px;
}


a {
    display: block;
    text-decoration: none;
}


/* tier 3 */
.logout, .out {
    border: none;
    background-color:  #007575;
    color: #e4e4e4;
    font-size: 20px;
}

.out {
    margin-left: 10px;
    margin-bottom: 20px;
}

.out:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.info {
    width: 100%;
}

.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    margin-bottom: 10px;
}