* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px 0 0 20px; /* top, right, bottom, left */
    width: 60%;
    /* border: 1px solid green; */
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.newPatient {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 25px 10px 25px;
    border: 1px solid;
    border-radius: 8px;
    background-color: #007575;
    color: #ffffff;
}

.newPatient:hover {
    background-color: #008b8b;
    cursor: pointer;
}

.searchbar, .sort {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.search {
    margin-right: 50px;
}

input {
    font-size: 15px;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #636363;
}

select {
    font-size: 15px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #636363;
    padding: 0 0 0 0;
}

.table {
    height: 600px;
    border: hidden;
    overflow-y: auto;
    /* position: relative; */
    border: 1px solid #949494;
}


table {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-collapse: collapse;
    border-radius: 6px;
    width: 100%;
}

td, th {
    border: 1px solid #b4b4b4;
    padding: 10px 30px 10px 30px;
    background-color: #f2f2f2;
    
}

th {
    border-bottom: 2px solid;
    color: #2b2b2b;
}

tr:first-child th {
    border-top: none; /* Remove top border from first row */
}
tr:last-child td {
    border-bottom: none; /* Remove bottom border from last row */
}
td:first-child, th:first-child {
    border-left: none; /* Remove left border */
}
td:last-child, th:last-child {
    border-right: none; /* Remove right border */
}

.top, .searchbar, .table {
    margin-bottom: 40px;
}

@media(max-width: 600px) {
    .container {
        width: fit-content;
        margin-right: 20px;
    }

    .table th {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .patientTable {
        /* width: 100%; */
        /* margin-right: 50px; */
    }

}