* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 20px 0 0 20px; /* top, right, bottom, left */
}

h2 {
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

.input_container {
    /* height: 580px; */
    width: 40%;
    background-color: #f2f2f2;
    padding: 25px;
    border: hidden;
    border-radius: 30px;
    font-weight: 600;
}

.selected {
    font-size: larger;
}

u {
    color: #415e9c;
}

.fluid {
    background-color: #ffffff;
    padding: 10px 0 10px 10px;
    border-radius: 8px;
}

.input_container h3 {
    text-align: center;
    margin-bottom: 25px;
}

.searchbar, .selected, .fluid, .dateStarted, .incorporation, .ivf_no, .consumed {
    margin-bottom: 20px;
}

.bar {
    height: 35px;
}

.insert {
    height: 35px;
    width: 70px;
    border-radius: 6px;
    border: hidden;
    color: #ffffff;
    font-size: 14px;
    background-color: #007bff;
}

.insert:hover {
    background-color: #228dff;
    cursor: pointer;
}

input {
    font-size: 15px;
    height: 35px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #b6b6b6;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.iv_fluid {
    width: 150px;
}

.iv_fluid::placeholder {
    text-align: left;
    
}

.inputs {
    width: 150px;
}

.inputs::placeholder {
    text-align: right;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 0 0;
}

.submit, .clear {
    padding: 10px 30px 10px 30px; /* top, right, bottom, left */
    border-radius: 4px;
    border: 1px solid;
    color: #ffffff;
}

.submit {
    background-color: #007575;
}

.clear {
    background-color: #6c757d;
}

.submit:hover {
    background-color: #009797;
    cursor: pointer;
}

.clear:hover {
    background-color: #5b6369;
    cursor: pointer;
}
